ultralytics>=8.3.0
opencv-python
numpy
deep-sort-realtime
torch
torchvision
fastapi
uvicorn
tqdm
pyyaml
scikit-learn
mediapipe==0.10.14
yt-dlp==2026.2.4
transformers
configargparse
decord
einops
linear-attention-transformer
local-attention
